body {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    border: 1px solid black;
    background-color: #dfefff;
    margin: 1%
}

h1 {
    font-size: 8ex;
    text-align: center;
}

p {
    display: block;
    font-size: 2ex;
    color: black;
    margin: 1%;
}

a {
    display: block;
    font-size: 2ex;
    color: blue;
    margin: 1%;
}

img {
    display: block;
    width: 98%;
    border: 1px solid black;
}

.img-text {
    display: block;
    font-size: 2ex;
    font-style: italic;
    text-align: center;
}
